# count number of digits in the given string
## input: "python123is456good789"
## output:9

In [25]:
s="python123is456good789"
i=0
c=0
s1=0
while i<len(s):
    if s[i].isdigit()==True:
        c+=1
        s1+=int(s[i])
    i+=1
print(c)
print(s1)

9
45

In [30]:
#for loop
#1. using range()
#2. using iterable object
n=int(input())
for i in range(1,n+1,2):
    print(i,end=" ")

10
1 3 5 7 9

In [12]:
n="python"
i=0
while i<len(n):
    print(n[i],end=" ")
    i+=1
print()
for i in range(0,len(n)):
    print(n[i],end=" ")
print()
for i in n:
    print(i,end=" ")

p y t h o n
p y t h o n
p y t h o n

## collection type data type:
### List
1. for creating a list use[]
2. List are mutable
3. List are indexed
4. list are ordered
5. List allows duplicate values
6. it stores heterogeneous values

In [23]:
list1=[23,34,456,56.67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56.67]
gnirts
3

In [35]:
#manipulating a list
#1. adding elements
list1=[34,45,56,67]
print(list1)
list1.append(100)
list1.append(200)
list1.append(300)
print(list1)
list1.insert(1,400)
print(list1)
list1.extend([1,2,3])
list1

[34, 45, 56, 67]
[34, 45, 56, 67, 100, 200, 300]
[34, 400, 45, 56, 67, 100, 200, 300]

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3]

In [34]:
list1.extend([1,2,3])
list1

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
list1.pop()
list1

[34, 400, 45, 56, 67, 100, 200, 300, 1]

In [38]:
list1.pop(1)

400

In [39]:
list1

[34, 45, 56, 67, 100, 200, 300, 1]

In [41]:
list1.pop(1)

45

In [42]:
list1

[34, 56, 67, 100, 200, 300, 1]

In [43]:
list1.pop(5)

300

In [44]:
list1

[34, 56, 67, 100, 200, 1]

In [45]:
list1.remove(67)

In [46]:
list1

[34, 56, 100, 200, 1]

In [47]:
list1.pop()
list1

[34, 56, 100, 200]

In [48]:
list1.clear()

In [49]:
list1

[]

In [50]:
list1.append(1)

In [51]:
list1

[1]

In [52]:
list1.pop()

1

In [57]:
list1.append(32)
list1

[100, 200, 1000, 300, 32]

In [62]:
list1=[34,56,7,68,79,2,45,67]
list1.sort(reverse=True)
list1

[79, 68, 67, 56, 45, 34, 7, 2]

In [63]:
#reversing a list
list1.reverse()

In [64]:
list1

[2, 7, 34, 45, 56, 67, 68, 79]

In [65]:
list1.index(45)

3

In [68]:
list1.insert(3,46)
list1

[46, 46, 2, 46, 7, 34, 45, 56, 67, 68, 79]

In [69]:
list1.count(46)

3

In [70]:
list1

[46, 46, 2, 46, 7, 34, 45, 56, 67, 68, 79]

In [77]:
list1.append("kaka")
list2=list1
print(list1," ",list2)

[46, 46, 2, 46, 7, 34, 45, 56, 67, 68, 79, 'kaka']   [46, 46, 2, 46, 7, 34, 45, 56, 67, 68, 79, 'kaka']

In [78]:
list3=list1.copy()

In [79]:
list3

[46, 46, 2, 46, 7, 34, 45, 56, 67, 68, 79, 'kaka']

In [80]:
l1=[1,2,3]
l2=l1
print(l2)

[1, 2, 3]

In [81]:
l3=l1.copy()
l3

[1, 2, 3]

In [82]:
print(l1,l2,l3)
l1.append(100)
print(l1,l2,l3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 2, 3, 100] [1, 2, 3, 100] [1, 2, 3]

In [95]:
#input:[2,4,5,7,8]
#output:[4,16,25,49,64]
l1=[2,4,5,7,8]
l2=[]
for i in range(0,(len(l1))):
    l2.append(l1[i]*l1[i])
l2

[4, 16, 25, 49, 64]

In [99]:
l1=[2,4,5,7,8]
l2=[]
l3=[]
for i in range(len(l1)):
    l2.append(l1[i]*l1[i])
print(l2)
for i in l1:
    l3.append(i**3)
print(l3)

[4, 16, 25, 49, 64]
[8, 64, 125, 343, 512]

In [106]:
n=int(input())
li1=[]
sum=0
for i in range(n):
    li1.append(int(input()))
    sum+=li1[i];
print(li1)
print(sum)

5
6
4
1
2
3
[6, 4, 1, 2, 3]
16

In [103]:
l4=[]
for i in l1:
    if i%2==0:
        l4.append(i)
print(l4)

[2, 4, 8]

## Tuple:

In [107]:
x=23,34,45,56,67
print(type(x))

<class 'tuple'>

In [113]:
tup1=(23,34,5)
x,y,z=tup1
print(x,y,z)

23 34 5

## Dictionary
### syntax: (key1:value1,key2:value2,.......)
### key:
1. key should be unique
2. key should be immutable--->int,float,tuple,string.

In [119]:
dict1={(1,2,3):"kaka","course":"python","address":"hyd"}
dict1["course"]

'python'

In [120]:
#replace value in the dictionary
dict1["course"]="c programming"
dict1

{(1, 2, 3): 'kaka', 'course': 'c programming', 'address': 'hyd'}

In [121]:
dict1["course"]="python"
dict1

{(1, 2, 3): 'kaka', 'course': 'python', 'address': 'hyd'}

In [122]:
#adding entry
dict1["college"]="GITAM"
dict1

{(1, 2, 3): 'kaka', 'course': 'python', 'address': 'hyd', 'college': 'GITAM'}

In [123]:
#removing element
del dict1["address"]
dict1

{(1, 2, 3): 'kaka', 'course': 'python', 'college': 'GITAM'}

In [124]:
dict1[(1,2,3)]="name"

In [125]:
dict1

{(1, 2, 3): 'name', 'course': 'python', 'college': 'GITAM'}

In [126]:
dict1[(1,2,3)]="tuple"
dict1

{(1, 2, 3): 'tuple', 'course': 'python', 'college': 'GITAM'}

# function
## syntax: def name_of function(arg list);
### 		stmts
### 		return

In [134]:
def add(x,y):
    return x+y
print(add(10,20))
print(add(100,200))

30
300

In [135]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

27

In [136]:
x=2
while x<=10:
    print(x)
    x=x+1

2
3
4
5
6
7
8
9
10

In [137]:
for i in [1,2,3,4][::-1]:
    print(i)

4
3
2
1

In [139]:
x=0
while False:
    x+=1
    print('so good to see you')